.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.TimeBeCreativeChatText {
    width: 150px;
    margin-bottom: 20px;
}

.login-btn {
    width: 414px;
    height: 92px;
    background-image: url('/static/images/Login.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    display: block;
    text-indent: -9999px;
    border-radius: 50px;
    transition: 0.3s;
}

.login-btn:hover {
    transform: scale(1.05);
}

#online-users {
    width: 250px;
    background: #ff0000;
    padding: 10px;
    border-radius: 8px;
}

.user-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.user-item img.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

#messages {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 10px;
    background-color: #ff0000;
    border: 1px solid #ddd;
    margin: 0;
    width: 100%;
    margin-left: 0;
    list-style-type: none;
    float: left;
    display: flex;
    height: calc(100% - 70px);
    flex-direction: column;
    box-sizing: border-box;
    
}

#messages {
    display: flex;
    flex-direction: column;
    
}

#messages li {
    margin-bottom: 10px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    max-width: 100%;
    overflow: hidden;
    height: 80vh;
    width: 50%;
    margin-left: 20px;
    position: relative;
    margin-right: 20px;
    box-sizing: border-box;
}

.message {
    max-width: 65%;
    align-items: flex-start;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 12px;
    margin-bottom: 10px;
    display: inline-block;
    margin: 5px 0;
    max-width: 75%;

}

.message-container {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 10px;
}

.message-bubble {
    
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    max-width: 70%;
    border-radius: 10px;
    padding: 8px 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-message {
    align-self: flex-end;
    text-align: right;
}

.user-message .message {
    background-color: #ffe8e8;
}

.text {
    font-size: 14px;
}

button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: auto;
}

button:hover {
    background-color: darkred;
}

#toggleChatsButton {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

#toggleChatsButton:hover {
    background-color: darkred;
}

#message {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.message-input-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}