.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.login-btn {
    width: 414px;
    height: 92px;
    background-image: url('/static/images/Login.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    display: block;
    text-indent: -9999px;
    border-radius: 50px;
    transition: 0.3s;
}

.login-btn:hover {
    transform: scale(1.05);
}
