<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename ='main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='main.css') }}">
        <title>Document</title>
    </head>
    <body>
        <div class="v55_54">
            <div class="v63_17">
                <div class="v63_16">
                    <div class="v55_77">
                        <div class="v55_73">
                            <span class="v55_78">Hello, welcome to this chat! Enjoy using it. I dream of developing it into the perfect chat for communication. I'm programming this chat in Visual Studio Code.  You can chat in a public chat, or click Start Chat and request the email of the person you want to chat with in a private chat. Also you can see who is online. </span>
                            <span class="v55_79">TimeBeCreative (Viktoriya Cherevatenko)</span>
                        </div>
                    </div>
                    <div class="v63_14">
                        <div class="v55_81">
                            <span class="v55_80">Chat! Have fun! Make your dream come true! </span>
                        </div>
                        <div class="v63_13"></div>
                    </div>
                </div>
                <div class="v63_10">
                    <div class="v63_9"></div>
                </div>
            </div>
            <div class="v63_12">
                <div class="v63_11"></div>
                <div class="v55_56">
                    <div class="v55_57"></div>
                    <span class="v55_58">About</span>
                </div>
                <span class="v55_55">TimeBeCreativeChat</span>
            </div>
        </div>
    </body>
</html>
