<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename ='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

    <div class="header">
        <img src="/static/images/LogoSmall.png" alt="Logo" class="logoSmall">
        <img src="/static/images/LogoText.png" alt="Logo" class="logoText">


    </div>
    

  <p>Hello, welcome to this chat! Enjoy using it. I am Viktoriya Cherevatenko and dream of developing it into the perfect chat for communication. I'm programming this chat in Visual Studio Code.  You can chat in a public chat, or click Start Chat and request the email of the person you want to chat with in a private chat. Also you can see who is online. A lot of work went into creating this chat. In addition to writing the server.py and html logic, I worked on the CSS and databases.</p>
  <a href="{{ url_for('index') }}">Back</a>

  
  <footer class="footer">
    <p>&copy; 2025 TimeBeCreativeChat. All rights reserved.</p>
  </footer>
</body>
</html>