<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename ='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://embed.figma.com/design/wgONL2gupAkVy2YF3JXGAm/TimeBeCreativeChat?node-id=55-53&embed-host=share" allowfullscreen></iframe>
  <h1>About</h1>
  <p>Welcome to the TimeBeCreativeChat app! This app was created by TimeBeCreative, who is passionate about creating apps that help people connect with each other. I hope you enjoy using this app to chat with your friends and family!</p>
  <a href="{{ url_for('index') }}">Back</a>
</body>
</html>