<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename ='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

    <div class="header">
        <img src="/static/images/LogoSmall.png" alt="Logo" class="logoSmall">
        <img src="/static/images/LogoText.png" alt="Logo" class="logoText">


    </div>
    

  <a href="{{ url_for('index') }}">Back</a>

    <div id="about-content">Loading...</div>
    <script>
        fetch('about.txt')
            .then(response => response.text())
            .then(text => {
                document.getElementById('about-content').innerText = text);
            })
        .catch(error => console.error(error));
    </script>

    
  <footer class="footer">
    <p>&copy; 2025 TimeBeCreativeChat. All rights reserved.</p>
  </footer>
</body>
</html>