<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename ='main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='main.css') }}">
        <title>Document</title>
    </head>
    <body>
        <div class="v55_54">
            <span class="v55_55">TimeBeCreativeChat</span>
            <div class="v55_56">
                <div class="v55_57"></div>
                <span class="v55_58">About</span>
            </div>
            <div class="v55_59"></div>
            <div class="v55_63"></div>
            <div class="v55_64">
                <div class="v55_65">
                    <div class="v55_66"></div>
                    <div class="v55_67"></div>
                </div>
            </div>
            <div class="v55_77">
                <div class="v55_73">
                    <span class="v55_78">Hello, welcome to this chat! Enjoy using it. I dream of developing it into the perfect chat for communication. I'm programming this chat in Visual Studio Code.  You can chat in a public chat, or click Start Chat and request the email of the person you want to chat with in a private chat. Also you can see who is online. </span>
                    <span class="v55_79">TimeBeCreative (Viktoriya Cherevatenko)</span>
                </div>
            </div>
            <div class="v55_82"></div>
            <div class="v55_81">
                <span class="v55_80">Chat! Have fun! Make your dream come true! </span>
            </div>
        </div>
    </body>
</html>
