<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename ='style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='style.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat with {{ recipient_name }}</title>
        <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>

        <style>
            .chat-title {
                color:rgb(255, 0, 0);
            }
            .message-container {
                display: flex;
                align-items: left;
            }
            .message {
                margin-left: 10px;
            }
            .avatar {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin-right: 10px;
            }
            .username {
                font-weight: bold;
                margin-left: 10px;
            }
        </style>
    </head>
    <body>

        <div class="header">
            <img src="/static/images/LogoSmall.png" alt="Logo" class="logoSmall">
            <h1 class="chat-title">Chat with {{ recipient_name }}</h1>

        </div>
       

        <button id="toggleChatsButton" onclick="window.location.href='/'">Back to Chats</button>

        <div class="chat-container">
            <ul id="messages"></ul>
            <div class="message-input-container">
                <input type="text" id="message" autocomplete="off" placeholder="Type a message...">
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>

      

        <script>
            var socket = io("web-production-b946f.up.railway.app", { transports: ['websocket', 'polling'] });

            var chat_id = "{{ chat_id }}";

            window.onload = function() {
                socket.emit('load_chat_history', { chat_id: chat_id });
            };

            socket.on('chat_history', function(data) {
               var messagesList = document.getElementById("messages");
                messagesList.innerHTML = "";
                data.messages.forEach(function(msg) {
                    addMessage(msg);
                });
            });



            socket.on('private-message', function(msg) {
                addMessage(msg);

            });

            function sendMessage() {
                var msg = document.getElementById("message").value.trim();
                if (msg === "") return;

                socket.emit('private-message', { chat_id: chat_id, message: msg });
                document.getElementById("message").value = "";
            }
           



            function addMessage(msg) {
                var li = document.createElement("li");
                li.classList.add("message-container");

                li.innerHTML = `
                    <img class="avatar" src="${msg.avatar_url}" alt="Avatar">
                    <div class="message-bubble">
                        <div class="username">${msg.username}:</div>
                        <div class="text">${msg.message}</div>
                    </div>
                `;

                document.getElementById("messages").appendChild(li);
                scrollToBottom();
            }




            function scrollToBottom() {
                const messageContainer = document.getElementById('messages');
                messageContainer.scrollTop = messageContainer.scrollHeight;
            }
        </script>

        <footer class="footer">
            <p>&copy; 2025 TimeBeCreativeChat. All rights reserved.</p>
        </footer>
    </body>
</html>