<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TimeBeCreativeChat</title>
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        <style>
            .username {
                font-weight: bold;
            }
            .message {
                margin-left: 10px;
            }
        </style>
    </head>
    
    <body>
        <h1>TimeBeCreativeChat</h1>
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for('login') }}">
                <button>Login with Google</button>
            </a>

        {% else %}
        <ul id="messages"></ul>
        <input id="message" autocomplete="off">
        <button onclick="sendMessage()">Send</button>
        <button onclick="logout()">logout</button>
        {% endif %}

      

        <script>
            var socket = io("https://flask-chat-vps.onrender.com", { transports: ['websocket'] });

            socket.on('message', function(msg) {
                var li = document.createElement("li");

                var username = msg.split(':'[0]);
                var message = msg.split(':').slice(1).join(':');

                var nameElement = document.createElement("span");
                nameElement.classicList.add("username");
                nameElement.textContent = username + ": ";

                var messageElement = document.createElement("span");
                messageElement.classicList.add("message");
                messageElement.textContent = message;



                li.appendChild(nameElement);
                li.appendChild(messageElement);
                document.getElementById("messages").appendChild(li);

            });

            function sendMessage() {
                var msg = document.getElementById("message").value;
                socket.send(msg);
                document.getElementById("message").value = "";
            }

            function logout() {
                window.location.href = "/logout";
            }

        </script>
    </body>
</html>

